* {
    /* text-align: center; */
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(120deg, rgba(204, 214, 166) 0%, rgba(218, 226, 182) 0%, rgba(244, 234, 213) 100%, rgba(255, 251, 233) 100%); */
    /* background: linear-gradient(135deg, rgba(255, 204, 128, 0.7) 0%, rgba(255, 255, 128, 0.5) 100%); */
    background: linear-gradient(135deg, rgba(255, 165, 0, 0.4) 0%, rgba(255, 165, 0, 0.3) 100%);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 16px;
}

h1.title {
    font-size: 48px;
    text-align: center;
}


ul {
    font-weight: normal;
    display: inline-block;
    text-align: left;
    margin-right: 24px;
}

ol {
    font-weight: normal;
    display: inline-block;
    list-style: none;
    /* list-style-position: inside; */
}

li {
    margin-bottom: 24px;
}

ol b {
    margin: 16px 8px;
}

img {
    height: 300px;
    width: 400px;
}

.card {
    width: 1000px;
    background-color: #FFFAFA;
    margin: 36px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border: 2px solid rgb(179, 99, 2);

}

.card img {
    display: inline-block;
    width: 340px;
    vertical-align: top;
    box-shadow: 1px 1px rgba(0, 0, 0, .1);

}

.card p a {
    color: darkorange;
    text-decoration: none;

}

.card-content {
    display: inline-block;
    vertical-align: top;
    width: 650px;
    text-align: center;
}

.card-intro {
    width: 520px;
    height: 220px;
    margin-left: 42px;
}

.card-intro h2 {
    margin: 8px auto;
    text-align: left;
    color: rgb(179, 99, 2);
}

.card-intro p {
    margin-bottom: 16px;
    text-align: left;
}

.prep-time {
    width: 500px;
    display: inline-block;
    padding-top: 6px;
}

.prep-time ul {
    list-style: none;
    margin: 0;
}


.prep-time ul li {
    display: inline-block;
    margin: 0 16px 0 0;

}

.prep-time ul li h2 {
    font-size: 16px;
    text-align: left;
}


.prep-time p {
    text-align: left;
}

.recipe-button {
    background-color: #fc9400;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    margin-top: 8px;
}

span.highlight {
    background-color: lightsalmon;
    color: darkred;
    padding: 0 3px;
    margin: 0 -3px;
}